<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


     <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<style type="text/css">
 .bg-steel {
  background-color: black;
}

.bg{
  background-image: url("https://ak6.picdn.net/shutterstock/videos/9983156/thumb/1.jpg");
  background-size: cover;
 }

.adjust{


  border-radius: 5px;
  height:300px;
width:500px;
margin-left: 400px;
margin right:50px;
}
</style>
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>site</title>
    {% endif %}
</head>
<body class="bg">

    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        
        <div class="container">
          <a class="navbar-brand mr-4" href="/home">MANAGE|V|ENT</a>
          
            <div class="navbar-nav">
              {% if current_user.is_authenticated %}
                <a class="nav-item nav-link" href="{{ url_for('account') }}">account</a>
                <a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a>
             {% else %}
               

              <a class="nav-item nav-link" href="{{ url_for('register') }}">List with us </a>
               <a class="nav-item nav-link" href="{{ url_for('login') }}">organizerlogin</a>
             {% endif %}
            </div>
          

        </div>
      </nav>
    </header>
    <br>
              <div class="adjust">
                <img src="{{ url_for('static', filename='profile_pics/' + org.image_file) }}" width="500px" height="300px">
              </div>
{% if org.requirement == 'h' %}
     
               
            <ul>
             <i class="glyphicon glyphicon-envelope"></i>
   <font face="Times New Roman" size="5">Email:</font>{{ org.email }}<br>
            <i class="glyphicon glyphicon-user"></i>

           <font face="Times New Roman" size="5">Name:</font>{{ org.name }}<br>
             <i class="glyphicon glyphicon-user"></i>
          <font face="Times New Roman" size="5">Contact us at:</font>{{ org.contact }}<br>
              <span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span>   <font face="Times New Roman" size="5">Details:</font>{{ org.details }}<br>
             <span class="glyphicon glyphicon-pushpin
" aria-hidden="true"></span>  <font face="Times New Roman" size="5">Price:</font>{{ org.price }}<br>
               <span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span>   <font face="Times New Roman" size="5">Occasions held:</font>{{ org.occasion}}<br>
             
              <span class=" glyphicon glyphicon-pushpin
" aria-hidden="true"></span>   <font face="Times New Roman" size="5">Accomodation:</font>{{ org.accomodation }}<br>
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
           <font face="Times New Roman" size="5">Address:</font>{{ org.address }}<br>
              </ul>
{% endif %}  
{% if org.requirement == 'd' %}

            <li>
                Email: {{ org.email }}<br>
                Name:{{org.name}}<br>
                Contact details: {{ org.contact }}<br>
                Details: {{org.details}}<br>
                Maximum Price: {{org.price}}<br>
                What makes us special: {{org.special}}

            </li>

{% endif %} 

{% if org.requirement == 'c' %}
     
               <li>  Email: {{ org.email }}<br>
                     Name:{{org.name}}<br>
                     Contact details: {{ org.contact }}<br>
                     Details: {{org.details}}
                     Maximum Price: {{org.price}}
                     
               </li>
              

{% endif %} 

{% if org.requirement == 'p' %}
     
               <li>  Email: {{ org.email }}<br>
                     Name:{{org.name}}<br>
                     Contact details: {{ org.contact }}<br>
                     Details: {{org.details}}
                     Maximum Price: {{org.price}}
                     
               </li>
              

{% endif %} 






      <hr>

     

</body></html>