{% extends "layout.html" %}
{% block content %}
<br>
<br>
<br>
<style>
.square {
    border-radius: 5px;
  background-color: black;
  padding: 50px;

  height: 1100px;
  width: 500px;
  
  margin-left: 400px;
  margin-right: 50px;
  
}
input[type=text], select {
  width: 100%;
  padding: 6px 20px;
  margin: 0px ;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}
.p{

	font-color :white;
}



</style>
		
		<div class="square">
			<form method="POST" action="/decreg" enctype="multipart/form-data">
			{{ form.hidden_tag() }}
				<div class="form-group">
					<h5><font color="white">{{form.name.label}}</font></h5>
				    {% if form.name.errors %}
						<input type="text" id="fname" placeholder={{form.name}}>
                        <div class="invalid-feedback">
							{% for error in form.name.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.name}}
					{% endif %}
				</div>
				<div >
					<h5><font color="white">{{form.email.label}}</font></h5>
				    {% if form.email.errors %}
						{{form.email}}
						<div class="invalid-feedback">
							{% for error in form.email.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.email}}
					{% endif %}
				</div>
				<div>
					<h5><font color="white">{{form.password.label}}</font></h5>
				    {% if form.password.errors %}
						<input type="text" id="fname" placeholder={{form.password}}>
						<div class="invalid-feedback">
							{% for error in form.password.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.password}}
					{% endif %}
				</div>
				<div >
					<h5><font color="white">{{form.confirm_password.label}}</font></h5>
				    {% if form.confirm_password.errors %}
						<input type="text" id="fname" placeholder={{form.confirm_password}}>
                        <div class="invalid-feedback">
							{% for error in form.confirm_password.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.confirm_password}}
					{% endif %}
				</div>
				
				 
				<div class="form-row">
					<h5><font color="white">{{ form.price.label}}</font></h5>
					{% if form.price.errors %}
						{{ form.price}}
						<div class="invalid-feedback">
							{% for error in form.price.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.price}}
					{% endif %}
				</div>
				<div class="form-row">
					<h5><font color="white">{{ form.contact.label}}</font></h5>
					{% if form.contact.errors %}
						{{ form.price}}
						<div class="invalid-feedback">
							{% for error in form.contact.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.contact}}
					{% endif %}
				</div>
				<div class="form-row">
					<h5><font color="white">{{ form.details.label}}</font></h5>
					{% if form.details.errors %}
						{{ form.details}}
						<div class="invalid-feedback">
							{% for error in form.details.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.details}}
					{% endif %}
				</div>
				<div class="form-row">
					<h5><font color="white">{{ form.requirement.label}}</font></h5>
					{% if form.requirement.errors %}
						{{ form.requirement}}
						<div class="invalid-feedback">
							{% for error in form.requirement.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.requirement}}
					{% endif %}
				</div>
                
                <br>


					
			 <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
    <div class="border-top pt-3">
        <small class="text-muted">
            Already Have An Account? <a class="ml-2" href="loginn">Sign In</a>
        </small>
    </div>
  </div>

{% endblock  %}
