{% extends "layout.html" %}
{% block content %}
		{% if title %}
				<title>{{ title }}</title>
		{% else %}
				<title>site</title>
		{% endif %}
<style type="text/css">
	.bg{
	background-image: url("https://ak6.picdn.net/shutterstock/videos/9983156/thumb/1.jpg");
	background-size: cover;
	
 }
 .bg-steel {
	background-color: black;
}
.columnn {
	float: left;
	width: 20%;
	padding: 10px;
	height: 300px; /* Should be removed. Only for demonstration */
}
.column{
	float: left;
	width: 80%;
	padding: 10px;
	height: 300px; /* Should be removed. Only for demonstration */
}


</style>

<div class="row">
	<div class="columnn" >
		<div class="dropdown">
			<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">sort by </button>
			<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
				<a class="dropdown-item" href="#">low to high</a>
				<a class="dropdown-item" href="{{ url_for('find_test1', flag=1) }}">high to low</a>
			</div>
		</div>
	<h3 class="w3-bar-item">change my options</h3>
	 <a href="dynamic"  class="btn btn-primary">go change</a>
	
</div>
<!-- Page Content -->
{% if flag==0 %}
<div class="column">
	        <h1>filtered results</h1>
			{% for org in org|sort(attribute='price') %}
					
					{% if org.price < form.price.data|int() %}
							 
							<div class="row">
								<div class="col-lg-4">
									<img class="w3-round" src="{{ url_for('static', filename='profile_pics/' + org.image_file) }}">
								</div>
								<div class="col-lg-8">
									<h5 class="card-title">Name:{{org.name}}</h5>
									<p class="card-text">Email:{{org.email}}
									<i class="glyphicon glyphicon-user"></i></p>
									<p class="card-text">Price:{{org.price}} </p>
									<a href="{{ url_for('org', org_id=org.id) }}"  class="btn btn-primary">further details</a>
									<a href="#"  class="btn btn-primary">add to compare</a>
							 
								</div>
							</div>
					{% endif %}
					<br>
					<br>

			{% endfor %}
	</div>
	{% endif %}
		{% if flag==1 %}
		<div class="column">
					
					{% for org in org|sort(attribute='price',reverse=True) %}
							
							{% if org.price < form.price.data|int() %}
									 
									<div class="row">
										<div class="col-lg-4">
											<img class="w3-round" src="{{ url_for('static', filename='profile_pics/' + org.image_file) }}">
										</div>
										<div class="col-lg-8">
											<h5 class="card-title">{{org.name}}</h5>
											<p class="card-text">{{org.email}}
											<i class="glyphicon glyphicon-user"></i></p>
											<p class="card-text">{{org.price </p>
											<a href="{{ url_for('org', org_id=org.id) }}"  class="btn btn-primary">further details</a>
											<a href="#"  class="btn btn-primary">add to compare</a>
									 
										</div>
									</div>
							{% endif %}
							<br>
							<br>

					{% endfor %}
		{% endif %}
		</div>
	</body>
{% endblock content %}
			

								