{% extends "layout.html" %}
{% block content %}
<br>
<br>
<br>
    {% for org in org %}
          
               
              <div class="row">
                <div class="col-lg-4">
                  <img class="w3-round" src="{{ url_for('static', filename='profile_pics/' + org.image_file) }}">
                </div>
                <div class="col-lg-8">
                  <h5 class="card-title">{{org.name}}</h5>
                  <p class="card-text">{{org.email}}</p>
                  <p class="card-text">{{org.price}}</p>
                  <a href="{{ url_for('org', org_id=org.id) }}"  class="btn btn-primary">further details</a>
                </div>
              </div>
              <br>
          {% endfor %}
{% endblock content %}