{% extends "layout.html" %}
{% block content %}
<br>
<br>
<br>
    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demoa"><h1 class="display-4" >What do you specialize in?</h1>
          </button>
  <div id="demoa" class="collapse">
  

            
                                        
      
          
              <ul class="list-group">
    <li class="list-group-item"> <a href="{{ url_for('hregister') }}">halls</a><span class="badge"></span></li>
    <li class="list-group-item"><a href="{{ url_for('decreg') }}">Decorators</a> <span class="badge"></span></li>
    <li class="list-group-item"><a href="{{ url_for('catererreg') }}">caterers</a> <span class="badge"></span></li>
    <li class="list-group-item"><a href="{{ url_for('partyplan') }}">party planners</a> <span class="badge"></span></li>

  </ul>
                                                                                               
      

</div>

</body>

{% endblock content %}