<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="shortcut icon" href="static/logo.ico">

     <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  
<style type="text/css">
 .bg-steel {
  background-color: black;
}

.bg{
  background-image: url("https://ak6.picdn.net/shutterstock/videos/9983156/thumb/1.jpg");
  background-size: cover; 
 }

.jumbotron{
 height:400px;
background-image: url("https://ak6.picdn.net/shutterstock/videos/9983156/thumb/1.jpg");
  background-size: cover; 
}
.content{
  padding:  50px 75px 100px;
  
}
.contentt{
  padding: 25px  75px 100px;
  
}

</style>
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>site</title>
    {% endif %}
</head>
<body class="bg">

    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        
        <div class="container">
          <a class="navbar-brand mr-4" href="/home">event management</a>
          
            <div class="navbar-nav">
                 <a class="nav-item nav-link" href="{{ url_for('about') }}">about us</a>
                <a class="nav-item nav-link" href="{{ url_for('contact') }}">contact us</a>
              {% if current_user.is_authenticated %}
             
                <a class="nav-item nav-link" href="{{ url_for('account') }}">account</a>
                <a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a>
             {% else %}
               
                <a class="nav-item nav-link" href="{{ url_for('register') }}">organizer register</a>
                <a class="nav-item nav-link" href="{{ url_for('login') }}">organizerlogin</a>
             {% endif %}
            </div>
          

        </div>
      </nav>
    </header>

    
<div class="container">    
      <div class="jumbotron">
    
                     <marquee behavior="scroll" direction="left">
                        <img src="https://image.shutterstock.com/image-vector/banner-event-management-concept-vector-260nw-729022861.jpg" alt=" a try ">
                     </marquee>    
                                        
      </div>
<div class ="contentt">      
<h1>Find the ideal</h1>
        <div class="row">
                  <div class="col-lg-3 ">
                     <a href="{{ url_for('hd') }}">halls</a>
                  </div>
                 <div class="col-lg-3 ">
                     <a href="{{ url_for('decd') }}">decorator</a>
                </div>
                
                 <div class="col-lg-3 ">
                     <a href="{{ url_for('catd') }}">caterer</a>
                  </div>
                
                 <div class="col-lg-3 ">
                     <a href="{{ url_for('pd') }}">party planner</a>
                 </div>
                
                
       </div>
</div>
<div class ="content">     
 <h1>Or find the ideal match for your query </h1>
    
     <div>       		     
			<form class="form-inline" method="POST" action="{{url_for('find')}}">
			{{ form.hidden_tag() }}
				
				
		      <div class="form-group ">
					{{ form.location.label}}
					{% if form.location.errors %}
						{{ form.location}}
						<div class="invalid-feedback">
							{% for error in form.location.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.location}}
					{% endif %}
				</div>
				<div class="form-group ">

					{{ form.price.label}}
					{% if form.price.errors %}
						{{ form.price}}
						<div class="invalid-feedback">
							{% for error in form.price.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.price}}
					{% endif %}
				</div>
				<div class="form-group">

					{{ form.requirement.label}}
					{% if form.requirement.errors %}
						{{ form.requirement}}
						<div class="invalid-feedback">
							{% for error in form.requirement.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					 {% else %}
						{{ form.requirement}}
					  {% endif %}
				    </div>
				
				
			   <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
	      </div>
        
 	    </form>
    </div>
 	</div>
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/jquery-ui/jquery-ui.min.js"></script>
    <script src="js/main.js"></script>
<footer class="footer-basic-centered">
         
          <p class="footer-links">
            ·
            <a href="#">MEET THE TEAM</a>
            ·
            <a href="#">WHAT WE DO</a>
          </p>
          <p class="footer-company-name">© 2019 Copyright:trinity management</p>
        </footer>-->

    
</body>
</html>
