<html>
<body>
		
		<div>
			<form method="POST" action="/register">
			{{ form.hidden_tag() }}
				
				<div>
					{{ form.email.label}}
					{% if form.email.errors %}
						{{ form.email}}
						<div class="invalid-feedback">
							{% for error in form.email.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.email}}
					{% endif %}
				</div>
				
				<div>
					{{ form.spaceused.label}}
					{% if form.spaceused.errors %}
						{{ form.spaceused}}
						<div class="invalid-feedback">
							{% for error in form.spaceused.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.spaceused}}
					{% endif %}
				</div>
				<div>
					{{ form.location.label}}
					{% if form.location.errors %}
						{{ form.location}}
						<div class="invalid-feedback">
							{% for error in form.location.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.location}}
					{% endif %}
				</div>
				
				
			</fieldset>
			 <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
   
			
</body>
</html>

