<html>
<body>
		
		<div>
			<form method="POST" action="/register">
			{{ form.hidden_tag() }}
				
				<div>
					{{ form.email.label}}
					{% if form.email.errors %}
						{{ form.email}}
						<div class="invalid-feedback">
							{% for error in form.email.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.email}}
					{% endif %}
				</div>
				
				<div>
					{{ form.requirement.label}}
					{% if form.requirement.errors %}
						{{ form.requirement}}
						<div class="invalid-feedback">
							{% for error in form.requirement.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.requirement}}
					{% endif %}
				</div>
				<div>
					{{ form.occasion.label}}
					{% if form.occasion.errors %}
						{{ form.occasion}}
						<div class="invalid-feedback">
							{% for error in form.occasion.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.occasion}}
					{% endif %}
				</div>
				
				
			</fieldset>
			 <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
   
			
</body>
</html>

